<!-- <div class="mw7 center ph3 pv4">

  <div class="flex flex-wrap mhn1">
    <div class="w-50 w-50-ns ph1-ns pr1">
      <img src="{{ .image1.image }}" alt="{{ .image1.alt }}" defer>
    </div>
  </div>

</div>
 -->
 <div class="wrapper">
<!-- ナビゲーション -->
<div class="Toggle">
    <span></span>
    <span></span>
    <p class="gn_guideline"><a href="guideline.html"><img src="images/gn_guideline_sp.png" alt="GUIDELINES for COVID-19"></a></p>
</div>
<nav class="kubifes">
    <ul>
        <li><a href="./"><img src="images/gn_top.png" alt="TOP"></a></li>
        <li><a href="about.html"><img src="images/ttl_about.png" alt="ABOUT"></a></li>
        <li class="on"><a href="news.html"><img src="images/ttl_news.png" alt="NEWS"></a></li>
        <li><a href="artist.html"><img src="images/ttl_artist.png" alt="ARTIST"></a></li>
        <li><a href="ticket.html"><img src="images/ttl_ticket.png" alt="TICKET"></a></li>
        <li class="of"><!--a href="tt.html"--><img src="images/ttl_tt.png" alt="TIME TABLE"><!--/a--></li>
        <li><a href="access.html"><img src="images/ttl_access.png" alt="ACCESS"></a></li>
        <li class="of"><!--a href="areamap.html"--><img src="images/ttl_areamap.png" alt="AREA MAP"><!--/a--></li>
        <li class="of"><!--a href="attention.html"--><img src="images/ttl_attention.png" alt="ATTENTION"><!--/a--></li>
        <li class="of"><!--a href="goods.html"--><img src="images/ttl_goods.png" alt="GOODS"><!--/a--></li>
        <li><a href="faq.html"><img src="images/ttl_faq.png" alt="FAQ"></a></li>
        <li class="gn_guideline pc"><a href="guideline.html"><img src="images/gn_guideline_pc.png" alt="GUIDELINES for COVID-19"></a></li>
    </ul>
</nav>

<main>
<header>
<div class="container">
<div class="head_logo">
    <a href="./"><img src="images/header_cont_pc.png" alt="MERRY ROCK PARADE 2021" class="pc"><img src="images/header_cont_sp.png" alt="MERRY ROCK PARADE 2021" class="sp"></a>
<h1>
MERRY ROCK PARADE 2021
2021.12.18sat & 19sun
ポートメッセなごや1〜3号館
OPEN 9:30 START 11:00
</h1>
</div>
</div>
</header>
<!--INFORMATION-->

<section id="newsArea" class="bg_white">
<div class="container">
<h2><img src="images/ttl_news.png" alt="NEWS" class="black"></h2>

<div class="contents">

<!-- NEWS API 出力 -->
<div id="newsListArea">
<div id="newsList">
</div>
</div>
<!-- NEWS API 出力 ここまで -->

</div><!-- /contents -->
</div><!-- /container -->
</section><!--/Area-->


<section id="infoArea" class="bg_black">
<div class="container">
<h2><img src="images/ttl_info.png" alt="INFORMATION"></h2>
   <!--外部ファイル読み込み-->
   <script type="text/javascript">
      include("./include/guideline.html");
   </script>
</div>
</section>

</main>

</div><!--/wrapper-->

<!--バナー-->
<section id="bnrArea">
   <!--外部ファイル読み込み-->
   <script type="text/javascript">
      include("./include/banner.html");
   </script>
</section>

<footer>
   <!--外部ファイル読み込み-->
   <script type="text/javascript">
      include("./include/footer.html");
   </script>

<div class="pagetop"><a href="header"><p>▲</p></a></div>
</footer>
