<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="w-50 w-50-ns ph1-ns pr1">
			<img src="{{ .image1.image }}" alt="{{ .image1.alt }}" defer>
		</div>

		<div class="w-50 w-50-ns ph1-ns pl1">
			<img src="{{ .image4.image }}" alt="{{ .image4.alt }}" defer>
		</div>
		
		<div class="w-100 ph1-ns">
			<img src="{{ .image6.image }}" alt="{{ .image6.alt }}" defer>
		</div>

		<div class="w-50 w-50-ns ph1-ns pr1">
			<img src="{{ .image5.image }}" alt="{{ .image5.alt }}" defer>
		</div>

		<div class="w-50 w-50-ns ph1-ns pl1">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}" defer>
		</div>
		
		<div class="w-100 ph1-ns">
			<img src="{{ .image7.image }}" alt="{{ .image7.alt }}" defer>
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .image8.image }}" alt="{{ .image8.alt }}" defer>
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .image9.image }}" alt="{{ .image9.alt }}" defer>
		</div>
		
		<div class="w-100 ph1-ns">		
			<img src="{{ .image2.image }}" alt="{{ .image2.alt }}" defer>
		</div>
	</div>

</div>
