{{ define "pageHead" }}
<meta name="twitter:card" content="Summary with Large Image" />
<meta name="twitter:site" content="@AmisAmants_jp" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/rsc/js/page/amis.js"></script>
{{ end }}
{{ define "main" }}
	<header class="am parallax01 z-3">
		<div class="over-black"></div>
		<div class="hdg-lv1-wrp">
			<h1 class="hdg-lv1">
				<div class="main-visual">
					<img src="/img/amis-logo.gif" alt="amis amants">
				</div>
				<span>OFFICIAL WEB SITE</span>
			</h1>
		</div>
	</header>
<div class="contents">
	<h2>INTRODUCTION</h2>
	<p class="f7 tc">名古屋の2ピースロックバンド。<br>バンド形式でのライブ活動を休止していたが、<br>9/18(金)に八事サウンドノートにて復活ライブが決定。<br><span class="txt-small">Gt.&Vo.</span>高木勇気はソロでも活動中。</p>
</div>



<div class="parallax01 parallax02"><h2 class="">amis<br>amants</h2></div>
<div class="contents">
  <h2>LIVE</h2>
</div>

<div class="parallax01"></div>
<div class="contents contents02">
  <h2>MUSIC</h2>
</div>

<div class="parallax01"></div>
<div class="contents z-3">
  <h2>MOVIE</h2>
</div>

<div class="parallax01"></div>
{{ end }}
