{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrlPc" .Params.image "imageUrlSp" .Params.image "title" .Title) }}




{{ with .Params.main }}


<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="footer-nav fixed z-3" ontouchstart="">
	<div class="footer-nav-inner">
		<div class="footer-socials">
			<a href="https://www.instagram.com/p.d__miyazaki/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/d.p__miyazaki/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
		</div>
	</div>
</div>


{{ end }}
