{{ define "pageHead" }}
<link rel="preload" href="/img/wyfo-load.png" as="image">
{{ end }}
{{ define "main" }}
<section id="loading" class="loading">
	<div class="loading__img">
		<img src="/img/wyfo-load.png">
	</div>
</section>
<style>
.loading {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
}
.loading__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loading__img img {
	width: 200px;
	animation: rotate-anime 3.5s linear infinite;
}
@keyframes rotate-anime {
	0%  {transform: rotate(0);}
	100%  {transform: rotate(360deg);}
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(function(){
	var loading = $("#loading");
	var isHidden = function(){
		loading.fadeOut(1000);
	};
	setTimeout(isHidden,1000);
});
</script>
<div class="wyfo">

<section class="pv6 ph3 bg-center cover wyfo-h1" style="background-image: url('/img/img-hdg-wyfo.jpg')">
	<div class="mw7 center ph3">
		<div class="db mb3">
			<div class="mw7 relative bg-fix-primary mb3">
				<h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
					While You Freak Out
				</h1>
			</div>
		</div>
	</div>
</section>

<div class="mw7 center ph3 mv5">
	<div class="anchor">
		<ul class="b">
			<!-- <li><a href="javascript:void(0);" class="no-underline" data-tab="release">RELEASE</a></li> -->
		{{ range $index, $element := .Params.anchor }}
				{{ partial "w-anchor" $element }}
		{{ end }}
		<div class="clear"></div>
		</ul>
	</div>
	<div class="tabContainer w-block">
		{{ range $index, $element := .Params.release }}
				{{ partial "w-block-movie" $element }}
		{{ end }}

		{{ range $index, $element := .Params.biography }}
				{{ partial "w-block" $element }}
		{{ end }}

		<section class="mb2 pv2 Tabcondent" id="live">
			<div class="f4 b lh-title w-block-hdg">
				<h2 class="tc pv3">LIVE</h2>
			</div>
			{{ range .Params.live }}
					<div class="mb5 ph3 ph0-ns w-100-m">
						<h3 class="f5 w-block-title tc pv3 pt0-m">{{.title}}</h3>
						<div class="center ph6-ns">
							<p class="f7 tc mb2 grey-2"><span class="f6 white">{{.dateText}}</span><br>{{.timeText}}</p>
							<p class="f5 tc mb2 white"><a href="{{ .placeUrl }}" target="_blank">{{.placeText}}</a></p>
							<p class="f7 tl tc-ns mb2 grey-2">Act : <span class="white">{{.actText}}</span></p>
							<p class="f7 tl tc-ns ph6-m grey-2">Ticket : <span class="f6 white">{{.ticket}}</span></p>
						</div>
					</div>
			{{ end }}
		</section>
	</div>
</div>
</div>

<div class="footer-nav fixed z-3" ontouchstart="">
	<div class="footer-nav-inner">
		<div class="footer-socials">
			<a href="https://www.tunecore.co.jp/artist?id=408733" target="_blank"><i class="fas fa-headphones"></i></a>
			<a href="https://twitter.com/WYFO_official" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
			<a href="{{ .Params.instaUrl }}" target="_blank"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</div>
<script>
(function () {
	$(function(){
		$("body:has(div.wyfo)").addClass("wyfo-wrp");
	});
})(jQuery);
</script>
<link href="https://fonts.googleapis.com/css2?family=Khand&display=swap" rel="stylesheet">
{{ end }}
